.container {
  /* width: 300px; */
  /* height: 900px; */
  background-color: gray;
  padding: 10px;
}

.card {
  height: 100px;
  background-color: steelblue;
  margin: 5px 0;
}

.loader {
  background-color: greenyellow;
}